.steps
    padding: 117px 0
    height: 1090px

    &__heading
        font-size: rem(36px)
        width: 410px
        margin-left: 40px

    &__wrap
        position: absolute
        z-index: 10

        &_1
            width: 265px
            right: 54px
            top: -65px

        &_2
            width: 262px
            right: 64px
            top: 28.5%

        &_3
            width: 280px
            right: 37%
            top: 28.5%

        &_4
            width: 240px
            left: 7.5%
            top: 28.5%

        &_5
            width: 270px
            top: 64%
            left: 6%

        &_6
            width: 280px
            top: 64.5%
            right: 37%

    &__test

        &-block
            position: absolute
            bottom: 80px
            right: 5px
            width: 360px

        &-title
            font-size: rem(26px)