@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,500,700");
* {
  padding: 0;
  margin: 0; }

.list {
  list-style-type: none; }

.link {
  text-decoration: none; }

html, body {
  width: 100%;
  height: 100%; }

body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  body > * {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    min-width: 360px; }

.container {
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 15px; }

.btn {
  text-transform: uppercase;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  color: #fff;
  font-size: 0.9375rem;
  line-height: 1.5rem;
  border-radius: 23px;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  cursor: pointer;
  outline: none;
  display: block;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .btn_large {
    height: 47px; }
  .btn_small {
    height: 36px; }
  .btn_color {
    background-color: #2ecc71;
    -webkit-box-shadow: 0px 0px 10.12px 0.88px rgba(46, 204, 113, 0.4);
    box-shadow: 0px 0px 10.12px 0.88px rgba(46, 204, 113, 0.4); }
    .btn_color:hover, .btn_color:active {
      background-color: #54d98c; }
  .btn_trans {
    border-color: #fff; }
    .btn_trans:hover, .btn_trans:active {
      background-color: rgba(255, 255, 255, 0.1); }

.flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }

.flex-wrap {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.jc-start {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.jc-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.jc-end {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.jc-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.jc-around {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.ai-start {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start; }

.ai-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.ai-end {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end; }

.column {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 15px; }

.column-1 {
  width: 8.33333%; }

.column-2 {
  width: 16.66667%; }

.column-3 {
  width: 25%; }

.column-4 {
  width: 33.33333%; }

.column-5 {
  width: 41.66667%; }

.column-6 {
  width: 50%; }

.column-7 {
  width: 58.33333%; }

.column-8 {
  width: 66.66667%; }

.column-9 {
  width: 75%; }

.column-10 {
  width: 83.33333%; }

.column-11 {
  width: 91.66667%; }

.column-12 {
  width: 100%; }

.hide {
  display: none; }

.dialog, .dialog__overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.dialog {
  position: fixed; }
  .dialog__overlay {
    position: absolute;
    z-index: 3;
    background-color: rgba(55, 58, 71, 0.9);
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    text-align: center; }
  .dialog__content {
    margin: 0 auto;
    top: 50%;
    width: 50%;
    max-height: 90%;
    background-color: #fff;
    position: relative;
    z-index: 4;
    opacity: 0; }
  .dialog_open {
    z-index: 2; }
    .dialog_open .dialog__overlay {
      opacity: 1; }
  .dialog_close {
    -webkit-transition: z-index 0ms ease 300ms;
    -o-transition: z-index 0ms ease 300ms;
    transition: z-index 0ms ease 300ms;
    z-index: -1; }
  .dialog.dialog_open .dialog__content, .dialog.dialog_close .dialog__content {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }
  .dialog.dialog_open .dialog__content {
    -webkit-animation-name: anim-open;
    animation-name: anim-open; }
  .dialog.dialog_close .dialog__content {
    -webkit-animation-name: anim-close;
    animation-name: anim-close; }

@-webkit-keyframes anim-open {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1); }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

@keyframes anim-open {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1); }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

@-webkit-keyframes anim-close {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: scale3d(0.9, 0.9, 1);
    transform: scale3d(0.9, 0.9, 1); } }

@keyframes anim-close {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: scale3d(0.9, 0.9, 1);
    transform: scale3d(0.9, 0.9, 1); } }

.wrapper {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  overflow: hidden; }

.header {
  background-image: -webkit-gradient(linear, left top, right top, from(#00c6fb), to(#1373db));
  background-image: -webkit-linear-gradient(left, #00c6fb 0%, #1373db 100%);
  background-image: -o-linear-gradient(left, #00c6fb 0%, #1373db 100%);
  background-image: linear-gradient(left, #00c6fb 0%, #1373db 100%);
  position: relative;
  overflow: hidden; }
  .header:before {
    content: "";
    position: absolute;
    right: -5%;
    top: 5%;
    z-index: 0;
    display: block;
    width: 1300px;
    height: 1300px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%; }
  .header__container {
    height: 100%;
    position: relative; }
  .header__top {
    height: 100px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    position: relative; }
  .header__content {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
  .header__logo {
    padding-left: 6px; }
    .header__logo > img {
      max-width: 100%; }
  .header__btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .header__login {
    cursor: pointer;
    position: relative;
    text-transform: uppercase;
    font-weight: 700; }
  .header__login-item {
    display: block;
    margin-bottom: 10px; }
    .header__login-item:last-child {
      margin-bottom: 0; }
  .header__login-link {
    color: #fff; }
  .header__mobile {
    border: 0;
    outline: none;
    background-color: transparent;
    width: 30px;
    height: 30px;
    cursor: pointer; }
    .header__mobile.active .header__icon:after {
      width: 28px; }
    .header__mobile.active .header__icon:before {
      width: 20px; }
  .header__icon {
    position: relative;
    display: block;
    width: 28px;
    height: 2px;
    margin: 0 auto;
    background-color: #fff; }
    .header__icon:after, .header__icon:before {
      content: "";
      background-color: #fff;
      height: 2px;
      display: block;
      position: absolute;
      right: 0;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    .header__icon:after {
      width: 20px;
      bottom: -7px; }
    .header__icon:before {
      width: 28px;
      top: -7px; }
  .header__video-block {
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    z-index: 1; }
  .header__video {
    width: 100%;
    height: 100%; }
  .header__left {
    color: #fff;
    position: relative;
    z-index: 1; }
  .header__heading {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 13px; }
  .header__slogan, .header__desc {
    display: block;
    line-height: 1.5rem; }
  .header__slogan {
    font-weight: 300;
    margin-bottom: 9px; }
  .header__desc {
    font-style: italic;
    font-size: 0.9375rem; }
  .header__images {
    position: absolute;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }
    .header__images_1 {
      top: 22%;
      left: 10%;
      -webkit-animation-name: images-1;
      animation-name: images-1; }
    .header__images_2 {
      bottom: 3.5%;
      left: 15%;
      -webkit-animation-name: images-2;
      animation-name: images-2; }
    .header__images_3 {
      top: 15%;
      left: 32%;
      -webkit-animation-name: images-3;
      animation-name: images-3; }
    .header__images_4 {
      bottom: 14%;
      left: 50%;
      -webkit-animation-name: images-4;
      animation-name: images-4; }
    .header__images_5 {
      top: 13%;
      right: 40%;
      -webkit-animation-name: images-5;
      animation-name: images-5; }
    .header__images_6 {
      bottom: -6%;
      right: 25%;
      -webkit-animation-name: images-6;
      animation-name: images-6; }

@-webkit-keyframes images-1 {
  0% {
    left: 11%; }
  50% {
    left: 10%; }
  100% {
    left: 11%; } }

@keyframes images-1 {
  0% {
    left: 11%; }
  50% {
    left: 10%; }
  100% {
    left: 11%; } }

@-webkit-keyframes images-2 {
  0% {
    left: 16%; }
  50% {
    left: 17%; }
  100% {
    left: 16%; } }

@keyframes images-2 {
  0% {
    left: 16%; }
  50% {
    left: 17%; }
  100% {
    left: 16%; } }

@-webkit-keyframes images-3 {
  0% {
    top: 15%;
    left: 32%; }
  50% {
    top: 16%;
    left: 33%; }
  100% {
    top: 15%;
    left: 32%; } }

@keyframes images-3 {
  0% {
    top: 15%;
    left: 32%; }
  50% {
    top: 16%;
    left: 33%; }
  100% {
    top: 15%;
    left: 32%; } }

@-webkit-keyframes images-4 {
  0% {
    bottom: 14%;
    left: 50%; }
  50% {
    bottom: 13%;
    left: 49%; }
  100% {
    bottom: 14%;
    left: 50%; } }

@keyframes images-4 {
  0% {
    bottom: 14%;
    left: 50%; }
  50% {
    bottom: 13%;
    left: 49%; }
  100% {
    bottom: 14%;
    left: 50%; } }

@-webkit-keyframes images-5 {
  0% {
    top: 13%;
    right: 40%; }
  50% {
    top: 12%;
    right: 39%; }
  100% {
    top: 13%;
    right: 40%; } }

@keyframes images-5 {
  0% {
    top: 13%;
    right: 40%; }
  50% {
    top: 12%;
    right: 39%; }
  100% {
    top: 13%;
    right: 40%; } }

@-webkit-keyframes images-6 {
  0% {
    bottom: -6%; }
  50% {
    bottom: 0%; }
  100% {
    bottom: -6%; } }

@keyframes images-6 {
  0% {
    bottom: -6%; }
  50% {
    bottom: 0%; }
  100% {
    bottom: -6%; } }

.brands {
  background-color: #daf0f7;
  overflow: hidden; }
  .brands__container {
    height: 100%; }
  .brands__list {
    width: 100%;
    overflow: hidden;
    margin: 0 auto; }
  .brands__item {
    text-align: center;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .brands__item > img {
      max-width: 100%; }

.about {
  position: relative;
  overflow: hidden;
  background-color: #e5f8fd; }
  .about:before {
    content: "";
    position: absolute;
    display: inline-block;
    border-bottom: solid 800px #f3fcfe;
    border-right: solid 800px #f3fcfe;
    border-left: solid 800px transparent;
    border-top: solid 800px transparent; }
  .about__head {
    text-align: center;
    z-index: 1;
    color: #424242; }
  .about__heading, .about__text {
    color: #424242;
    line-height: 1.5rem; }
    .about__heading_right, .about__text_right {
      text-align: right; }
  .about__heading {
    font-weight: 400; }
  .about__text {
    font-weight: 300; }
  .about__item {
    position: relative;
    z-index: 1;
    margin-bottom: 70px; }
    .about__item:last-child {
      margin-bottom: 0; }
  .about__img-block {
    position: relative;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    z-index: 2;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
    .about__img-block:after, .about__img-block:before {
      content: "";
      position: absolute;
      border-radius: 20px;
      width: 100%;
      height: 100%;
      -webkit-transform-origin: center;
      -ms-transform-origin: center;
      transform-origin: center; }
    .about__img-block:before {
      background-color: #fff; }
    .about__img-block:after {
      background-color: #9bdbfa;
      left: -4px;
      top: -4px; }
    .about__img-block_odd:after, .about__img-block_odd:before {
      -webkit-transform: rotateY(15deg);
      transform: rotateY(15deg); }
    .about__img-block:before {
      right: -4px;
      bottom: -4px; }
    .about__img-block_even:after, .about__img-block_even:before {
      -webkit-transform: rotateY(-15deg);
      transform: rotateY(-15deg); }
    .about__img-block_even:before {
      left: -12px;
      bottom: -4px; }
  .about__img {
    position: absolute; }
    .about__img_1-1 {
      z-index: 3; }
    .about__img_1-2 {
      z-index: 6; }
    .about__img_1-3 {
      z-index: 6; }
    .about__img_1-4 {
      z-index: 5; }
    .about__img_2-1, .about__img_2-2, .about__img_2-3, .about__img_3-1, .about__img_3-2, .about__img_3-3, .about__img_4-1, .about__img_4-2, .about__img_4-3 {
      z-index: 3; }

@-webkit-keyframes img-1-1 {
  100% {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg); } }

@keyframes img-1-1 {
  100% {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg); } }

@-webkit-keyframes img-1-2 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes img-1-2 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

.stat {
  background-color: #daf0f7; }
  .stat__item {
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center; }
  .stat__img {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 30px; }
  .stat__number {
    display: block;
    color: #5886a7;
    font-weight: 700; }
  .stat__text {
    font-weight: 300;
    font-size: 0.875rem;
    color: #8dafc8; }

.steps {
  background-image: -webkit-gradient(linear, left top, left bottom, from(left), color-stop(0%, #00c6fb), to(#1373db));
  background-image: -webkit-linear-gradient(left, #00c6fb 0%, #1373db 100%);
  background-image: -o-linear-gradient(left, #00c6fb 0%, #1373db 100%);
  background-image: linear-gradient(left, #00c6fb 0%, #1373db 100%);
  position: relative;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .steps:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    border-left: solid 800px rgba(141, 175, 200, 0.2);
    border-bottom: solid 800px rgba(141, 175, 200, 0.2);
    border-top: solid 800px transparent;
    border-right: solid 800px transparent; }
  .steps__container {
    position: relative;
    height: 100%; }
  .steps__line {
    fill: none;
    position: absolute;
    width: 100%; }
    .steps__line_small {
      -webkit-transform: translateX(-382px);
      -ms-transform: translateX(-382px);
      transform: translateX(-382px);
      stroke-width: 10px;
      top: 5px;
      width: 416px; }
    .steps__line_large {
      stroke-width: 12px;
      top: 5px; }
    .steps__line_1 {
      stroke: #673ab7; }
    .steps__line_2 {
      stroke: #fff;
      stroke-opacity: .2; }
    .steps__line_3 {
      stroke: #fff; }
  .steps__heading {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.5rem;
    text-align: center; }
  .steps__wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .steps__images {
    position: relative;
    text-align: center;
    margin-bottom: 30px;
    width: 170px;
    height: 170px; }
  .steps__img {
    position: absolute;
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s; }
    .steps__img_1-1 {
      height: 156px;
      z-index: 0;
      top: 0;
      left: 0; }
    .steps__img_1-2 {
      width: 65px;
      height: 73px;
      z-index: 1;
      right: 5px; }
    .steps__img_1-3 {
      width: 120px;
      height: 110px;
      z-index: 2;
      top: 20px;
      left: 5px; }
    .steps__img_1-4 {
      width: 70px;
      height: 85px;
      z-index: 3;
      right: 12px;
      bottom: 10px; }
    .steps__img_2-1 {
      height: 160px;
      z-index: 0;
      left: 0;
      top: 0; }
    .steps__img_2-2 {
      height: 70px;
      z-index: 1;
      top: 57%;
      left: 40%; }
    .steps__img_3-1 {
      height: 165px;
      left: 0; }
    .steps__img_3-2 {
      height: 14px;
      top: 2px;
      left: 55px; }
    .steps__img_3-3 {
      height: 26px;
      right: 25px;
      top: 25px; }
    .steps__img_3-4 {
      height: 35px;
      left: 10px;
      top: 25px; }
    .steps__img_4-1 {
      height: 158px;
      left: 0;
      top: 0; }
    .steps__img_4-2 {
      height: 92px;
      left: -7px;
      top: 20px; }
    .steps__img_4-3 {
      top: -30px;
      left: 55px;
      height: 55px; }
    .steps__img_4-4 {
      bottom: -17px;
      left: 14px;
      height: 100px; }
    .steps__img_5-1 {
      height: 170px;
      left: 3px;
      top: 0; }
    .steps__img_5-2 {
      height: 42px;
      left: 5px;
      top: 23%; }
    .steps__img_5-3 {
      top: 19%;
      right: 3%;
      height: 70px; }
    .steps__img_6-1 {
      left: 0;
      top: 0;
      height: 160px; }
    .steps__img_6-2 {
      left: 20px;
      top: 12px;
      height: 40px; }
    .steps__img_6-3 {
      top: 15px;
      right: 23px;
      height: 35px; }
    .steps__img_6-4 {
      bottom: 20px;
      right: 10px;
      height: 60px; }
  .steps__title {
    font-size: 1.1875rem;
    line-height: 24px;
    color: #fff;
    text-align: center; }
  .steps__test-title {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 2.375rem;
    text-align: center;
    margin-bottom: 33px; }
  .steps__test-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }

.result {
  background-color: #e5f8fd;
  position: relative;
  overflow: hidden; }
  .result:before {
    content: "";
    position: absolute;
    display: inline-block;
    border-bottom: solid 500px #f3fcfe;
    border-right: solid 500px #f3fcfe;
    border-left: solid 500px transparent;
    border-top: solid 500px transparent; }
  .result > * {
    position: relative;
    z-index: 1; }
  .result__heading {
    font-weight: 700;
    text-transform: uppercase;
    color: #424242; }
    .result__heading:after {
      content: "";
      display: block;
      width: 100px;
      height: 4px;
      background-color: #1373db;
      margin-top: 28px; }
  .result__desc {
    font-weight: 300;
    font-style: italic;
    color: #9c9c9c; }
  .result__header {
    margin-bottom: 25px; }
  .result__content {
    margin-bottom: 60px; }
  .result__left {
    padding-right: 15px;
    background-image: url(../img/result__left-bg.png);
    background-repeat: no-repeat;
    background-position: 5% 5%;
    padding-top: 30px; }
  .result__item {
    margin-bottom: 20px; }
    .result__item:last-child {
      margin-bottom: 0; }
  .result__text, .result__title {
    font-weight: 300;
    color: #424242; }
  .result__text {
    margin-bottom: 27px; }
    .result__text_mark {
      font-weight: 500; }
  .result__icon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #2ecc71;
    position: relative;
    margin-right: 20px;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
    .result__icon:after {
      content: "";
      position: absolute;
      width: 5px;
      height: 10px;
      border-bottom: 3px solid #fff;
      border-right: 3px solid #fff;
      -webkit-transform: rotateZ(45deg) translateY(-2px) translateX(-1px);
      -ms-transform: rotate(45deg) translateY(-2px) translateX(-1px);
      transform: rotateZ(45deg) translateY(-2px) translateX(-1px); }
  .result__title {
    color: #424242; }

.subscribe {
  background-color: #daf0f7; }
  .subscribe__heading {
    color: #424242;
    text-transform: uppercase;
    font-weight: 700; }
  .subscribe__container {
    height: 100%; }

.footer {
  background-image: -webkit-gradient(linear, left top, right top, from(#00c6fb), to(#1373db));
  background-image: -webkit-linear-gradient(left, #00c6fb 0%, #1373db 100%);
  background-image: -o-linear-gradient(left, #00c6fb 0%, #1373db 100%);
  background-image: linear-gradient(left, #00c6fb 0%, #1373db 100%);
  position: relative;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .footer:before {
    content: "";
    position: absolute;
    left: -50%;
    bottom: -600%;
    display: block;
    width: 2000px;
    height: 2000px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    z-index: 0; }
  .footer__container {
    height: 100%;
    position: relative;
    z-index: 1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .footer__logo, .footer__nav, .footer__partners {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .footer__copyright {
    font-size: 0.9375rem;
    line-height: 1.5rem;
    color: #d9edff;
    font-weight: 300; }
  .footer__nav {
    color: #fff; }
    .footer__nav-heading, .footer__nav-link {
      font-size: 1rem;
      line-height: 1.5rem; }
    .footer__nav-heading {
      font-weight: 500;
      text-transform: uppercase;
      margin-bottom: 15px; }
    .footer__nav-item {
      margin-bottom: 6px; }
    .footer__nav-link {
      color: #d9edff;
      font-weight: 300;
      -webkit-transition: color 0.3s ease;
      -o-transition: color 0.3s ease;
      transition: color 0.3s ease; }
      .footer__nav-link:hover, .footer__nav-link:active {
        color: #1373db; }
  .footer__partners-item {
    margin-left: 15px; }
    .footer__partners-item:first-child {
      margin-left: 0; }

@media (min-width: 768px) {
  .btn_large {
    width: 260px; }
  .result__heading {
    line-height: 2.375rem; }
    .result__heading:after {
      margin-bottom: 10px; }
  .result__desc {
    line-height: 2.375rem; }
  .footer__logo {
    padding-right: 15px; }
    .footer__logo-wrap {
      padding-left: 5px; }
  .footer__nav {
    padding-top: 5px;
    padding-left: 15px; } }

@media (min-width: 1200px) {
  .container {
    max-width: 1170px; }
  .btn_small {
    width: 165px; }
  .flex-container_xl {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .flex-col_xl {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  .flex-row_xl {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; }
  .flex-wrap_xl {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .jc-start_xl {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .jc-center_xl {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .jc-end_xl {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .jc-between_xl {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .jc-around_xl {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .ai-start_xl {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .ai-center_xl {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .ai-end_xl {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .column_xl {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 15px; }
  .column-1_xl {
    width: 8.33333%; }
  .column-2_xl {
    width: 16.66667%; }
  .column-3_xl {
    width: 25%; }
  .column-4_xl {
    width: 33.33333%; }
  .column-5_xl {
    width: 41.66667%; }
  .column-6_xl {
    width: 50%; }
  .column-7_xl {
    width: 58.33333%; }
  .column-8_xl {
    width: 66.66667%; }
  .column-9_xl {
    width: 75%; }
  .column-10_xl {
    width: 83.33333%; }
  .column-11_xl {
    width: 91.66667%; }
  .column-12_xl {
    width: 100%; }
  .hide_xl {
    display: none; }
  .header__mobile {
    display: none; }
  .header__nav-item {
    margin-left: 50px; }
    .header__nav-item:first-child {
      margin-left: 0; }
  .header__nav-link, .header__login {
    color: #fff;
    font-size: 0.9375rem;
    line-height: 1.5rem;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease; }
    .header__nav-link:hover, .header__login:hover, .header__nav-link:active, .header__login:active {
      color: #d9edff; }
  .header__content {
    height: 700px; }
  .header__logo {
    width: 200px;
    height: 60px; }
  .header__btn, .header__login {
    margin-left: 38px; }
  .header__login-list {
    display: none;
    position: absolute;
    top: 150%;
    left: -50%;
    z-index: 10; }
  .header__login-chevron {
    display: inline-block;
    border-top: 6px solid #fff;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid transparent;
    margin-left: 10px;
    -webkit-transform: translateY(3px);
    -ms-transform: translateY(3px);
    transform: translateY(3px); }
  .header__video-block {
    width: 460px;
    height: 270px; }
  .header__heading {
    font-size: 1.875rem;
    line-height: 2.5rem; }
  .header__slogan {
    font-size: 1.125rem; }
  .header__left {
    height: 400px;
    padding-left: 10px; }
  .header__desc {
    margin-bottom: 50px; }
  .brands {
    height: 200px; }
    .brands__item {
      width: 10%; }
  .about {
    padding: 110px 0; }
    .about:before {
      bottom: 0;
      right: 0; }
    .about__head {
      font-size: 2.25rem;
      margin: 0 0 100px; }
    .about__heading {
      font-size: 1.375rem;
      margin-bottom: 30px; }
    .about__text {
      font-size: 1rem; }
    .about__img-block {
      width: 340px;
      height: 240px; }
      .about__img-block:hover .about__img_1-1, .about__img-block:hover .about__img_2-3, .about__img-block:hover .about__img_3-1, .about__img-block:hover .about__img_4-1 {
        -webkit-animation-delay: 1.2s;
        animation-delay: 1.2s;
        -webkit-animation-duration: 10s;
        animation-duration: 10s;
        -webkit-animation-name: img-1-1;
        animation-name: img-1-1;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear; }
      .about__img-block:hover .about__img_1-1 {
        top: -60px;
        left: -60px; }
      .about__img-block:hover .about__img_1-2, .about__img-block:hover .about__img_4-3 {
        -webkit-transition-delay: 1s;
        -o-transition-delay: 1s;
        transition-delay: 1s;
        -webkit-animation-name: img-1-2;
        animation-name: img-1-2;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite; }
      .about__img-block:hover .about__img_1-2 {
        bottom: 40%;
        left: 40%;
        -webkit-animation-delay: 1.2s;
        animation-delay: 1.2s;
        -webkit-animation-duration: 1s;
        animation-duration: 1s; }
      .about__img-block:hover .about__img_1-3 {
        right: 60px;
        -webkit-transition-delay: 1s;
        -o-transition-delay: 1s;
        transition-delay: 1s; }
      .about__img-block:hover .about__img_1-4 {
        right: 15%; }
      .about__img-block:hover .about__img_2-1 {
        left: 25%; }
      .about__img-block:hover .about__img_2-2 {
        right: 0; }
      .about__img-block:hover .about__img_2-3 {
        right: -40px;
        top: -40px; }
      .about__img-block:hover .about__img_3-1 {
        top: -40px;
        left: -40px; }
      .about__img-block:hover .about__img_3-2 {
        left: 70%;
        bottom: 10%; }
      .about__img-block:hover .about__img_3-3 {
        right: 32%; }
      .about__img-block:hover .about__img_4-1 {
        right: -40px;
        top: -40px; }
      .about__img-block:hover .about__img_4-2 {
        left: 25%; }
      .about__img-block:hover .about__img_4-3 {
        right: 0;
        -webkit-animation-delay: 1.5s;
        animation-delay: 1.5s;
        -webkit-animation-duration: 1.5s;
        animation-duration: 1.5s; }
      .about__img-block_odd {
        margin-right: 70px; }
      .about__img-block_even {
        margin-left: 70px; }
    .about__img_1-1, .about__img_1-2, .about__img_1-3, .about__img_2-2, .about__img_2-3, .about__img_3-1, .about__img_3-2, .about__img_4-1, .about__img_4-3 {
      -webkit-transition: 500ms;
      -o-transition: 500ms;
      transition: 500ms;
      -webkit-transition-delay: 0s;
      -o-transition-delay: 0s;
      transition-delay: 0s; }
    .about__img_1-1, .about__img_2-3, .about__img_3-1, .about__img_3-2, .about__img_4-1, .about__img_4-3 {
      -webkit-transition-delay: 750ms;
      -o-transition-delay: 750ms;
      transition-delay: 750ms; }
    .about__img_1-4, .about__img_2-1, .about__img_3-3, .about__img_4-2 {
      -webkit-transition: 1s;
      -o-transition: 1s;
      transition: 1s;
      -webkit-transition-delay: 500ms;
      -o-transition-delay: 500ms;
      transition-delay: 500ms; }
    .about__img_1-1 {
      top: -30px;
      left: -10px; }
    .about__img_1-2 {
      bottom: -10px;
      left: 25px; }
    .about__img_1-3 {
      right: -40px;
      top: 68.5%; }
    .about__img_1-4 {
      right: -40px;
      top: 20%; }
    .about__img_2-1 {
      top: 15%;
      left: -10px; }
    .about__img_2-2 {
      bottom: -10px;
      right: 30px; }
    .about__img_2-3 {
      top: -30px;
      right: 20px; }
    .about__img_3-1 {
      top: -30px;
      left: 15px; }
    .about__img_3-2 {
      left: 20px;
      bottom: -20px; }
    .about__img_3-3 {
      top: 10%;
      right: 0; }
    .about__img_4-1 {
      top: -30px;
      right: 20px; }
    .about__img_4-2 {
      top: 10%;
      left: 0px; }
    .about__img_4-3 {
      right: 30px;
      bottom: 0; }
  .result {
    padding-top: 75px; }
    .result:before {
      bottom: 0;
      right: 0; }
    .result__heading {
      font-size: 1.875rem; }
    .result__desc {
      font-size: 1.125rem; }
    .result__text, .result__title {
      font-size: 1.0625rem; }
    .result__text {
      line-height: 1.625rem; }
    .result__title {
      line-height: 1.5rem; }
    .result__list {
      padding-top: 8px;
      padding-left: 50px; }
    .result__right {
      padding-left: 15px;
      padding-top: 30px; }
  .subscribe {
    height: 200px; }
    .subscribe__heading {
      font-size: 1.625rem; }
    .subscribe__btn {
      margin-left: 65px; }
  .footer {
    height: 250px;
    padding: 50px 0 55px; }
  .steps {
    padding: 117px 0;
    height: 1090px; }
    .steps__heading {
      font-size: 2.25rem;
      width: 410px;
      margin-left: 40px; }
    .steps__images:hover .steps__img_1-2 {
      right: -30px; }
    .steps__images:hover .steps__img_1-3 {
      top: 20px;
      left: -20px; }
    .steps__images:hover .steps__img_1-4 {
      right: -10px;
      bottom: -20px; }
    .steps__images:hover .steps__img_2-2, .steps__images:hover .steps__img_4-2, .steps__images:hover .steps__img_4-4 {
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards; }
    .steps__images:hover .steps__img_2-2, .steps__images:hover .steps__img_4-4 {
      -webkit-animation-name: impuls;
      animation-name: impuls;
      -webkit-animation-duration: 1s;
      animation-duration: 1s; }
    .steps__images:hover .steps__img_3-2 {
      top: -20px; }
    .steps__images:hover .steps__img_3-3 {
      right: 0; }
    .steps__images:hover .steps__img_3-4 {
      left: -20px; }
    .steps__images:hover .steps__img_4-2 {
      left: -30px;
      top: 0;
      -webkit-animation-name: rotate;
      animation-name: rotate;
      -webkit-animation-duration: 3s;
      animation-duration: 3s; }
    .steps__images:hover .steps__img_4-3 {
      top: -50px; }
    .steps__images:hover .steps__img_5-2 {
      left: -15px;
      top: 18%; }
    .steps__images:hover .steps__img_5-3 {
      top: 35%;
      right: -10%; }
    .steps__images:hover .steps__img_6-2 {
      left: 10px;
      top: -10px; }
    .steps__images:hover .steps__img_6-3 {
      top: 0;
      right: 0; }
    .steps__images:hover .steps__img_6-4 {
      bottom: 0px;
      right: -10px; }
    .steps__wrap {
      position: absolute;
      z-index: 10; }
      .steps__wrap_1 {
        width: 265px;
        right: 54px;
        top: -65px; }
      .steps__wrap_2 {
        width: 262px;
        right: 64px;
        top: 28.5%; }
      .steps__wrap_3 {
        width: 280px;
        right: 37%;
        top: 28.5%; }
      .steps__wrap_4 {
        width: 240px;
        left: 7.5%;
        top: 28.5%; }
      .steps__wrap_5 {
        width: 270px;
        top: 64%;
        left: 6%; }
      .steps__wrap_6 {
        width: 280px;
        top: 64.5%;
        right: 37%; }
    .steps__test-block {
      position: absolute;
      bottom: 80px;
      right: 5px;
      width: 360px; }
    .steps__test-title {
      font-size: 1.625rem; }
  @-webkit-keyframes impuls {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1); }
    50% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1); }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1); } }
  @keyframes impuls {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1); }
    50% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1); }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1); } }
  @-webkit-keyframes rotate {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg); } }
  @keyframes rotate {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg); } }
  .stat__list {
    height: 280px; }
  .stat__item {
    width: 20%;
    font-size: 2.125rem; } }

@media (max-width: 767px) {
  .container {
    max-width: 360px; }
  .flex-container_xs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .flex-col_xs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  .flex-row_xs {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; }
  .flex-wrap_xs {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .jc-start_xs {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .jc-center_xs {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .jc-end_xs {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .jc-between_xs {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .jc-around_xs {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .ai-start_sm {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .ai-center_sm {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .ai-end_sm {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .column_xs {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 15px; }
  .column-1_xs {
    width: 8.33333%; }
  .column-2_xs {
    width: 16.66667%; }
  .column-3_xs {
    width: 25%; }
  .column-4_xs {
    width: 33.33333%; }
  .column-5_xs {
    width: 41.66667%; }
  .column-6_xs {
    width: 50%; }
  .column-7_xs {
    width: 58.33333%; }
  .column-8_xs {
    width: 66.66667%; }
  .column-9_xs {
    width: 75%; }
  .column-10_xs {
    width: 83.33333%; }
  .column-11_xs {
    width: 91.66667%; }
  .column-12_xs {
    width: 100%; }
  .hide_xs {
    display: none; }
  .btn_large {
    width: 100%; }
  .header__logo {
    width: 130px;
    height: 40px; }
  .header__heading {
    font-size: 1.125rem;
    line-height: 1.75rem; }
  .header__content {
    height: 475px; }
  .header__slogan {
    font-size: 0.875rem; }
  .header__video-block {
    height: 170px; }
  .header__left {
    height: 280px; }
  .brands {
    height: 80px; }
    .brands__list {
      max-width: 360px; }
    .brands__item {
      width: 50%; }
  .about {
    padding: 30px 0; }
    .about:before {
      top: 50%;
      right: 0; }
    .about__head {
      font-size: 1.3rem;
      line-height: 1.7rem;
      margin: 0 0 50px; }
    .about__img-block {
      width: 100%;
      height: 220px;
      margin-bottom: 35px; }
    .about__text-block {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
      -ms-flex-order: 1;
      order: 1; }
  .result {
    padding-top: 25px; }
    .result__heading {
      font-size: 1.25rem;
      line-height: 1.875rem; }
      .result__heading:after {
        margin-bottom: 5px; }
    .result__desc {
      font-size: 0.9375rem; }
  .subscribe {
    height: 150px; }
    .subscribe__heading {
      font-size: 1rem;
      margin-bottom: 25px; }
  .footer {
    height: 450px;
    padding: 40px 0 55px; }
    .footer__logo-wrap {
      margin-bottom: 15px; }
    .footer__logo {
      margin-bottom: 20px; }
    .footer__nav {
      margin-bottom: 20px; }
  .steps {
    padding: 40px 0; }
    .steps__heading {
      font-size: 1.5rem;
      margin-bottom: 60px; }
    .steps__wrap {
      margin-bottom: 50px; }
    .steps__test-title {
      font-size: 1.375rem; }
  .stat__list {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 630px;
    padding: 20px 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .stat__item {
    width: 50%;
    font-size: 1.125rem;
    text-align: center;
    margin-bottom: 15px; }
    .stat__item:last-child {
      margin-bottom: 0; } }

@media (max-width: 1199px) {
  .btn_small {
    width: 100%; }
  .header__top-right {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 330px;
    right: 15px;
    top: 45px;
    border-radius: 15px 0 15px 15px;
    z-index: 2;
    padding: 20px 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .header__top-right.active {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
  .header__nav {
    width: 100%;
    margin-bottom: 10px; }
    .header__nav-list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
    .header__nav-link, .header__login {
      color: #424242;
      display: block;
      margin-bottom: 15px; }
  .header__login {
    width: 100%;
    text-align: center; }
  .header__login-list {
    margin-top: 20px;
    margin-bottom: 0; }
  .header__video-block {
    width: 330px; }
  .header__desc {
    margin-bottom: 25px; }
  .about__heading {
    font-size: 1.125rem;
    margin-bottom: 15px; }
  .about__text {
    font-size: 0.875rem; }
  .about__img_1-1 {
    height: 50%;
    top: -30px;
    left: -30px; }
  .about__img_1-2 {
    height: 25%;
    bottom: 5px;
    left: 5px; }
  .about__img_1-3 {
    height: 10%;
    right: 5%;
    top: 67%; }
  .about__img_1-4 {
    height: 60%;
    right: 5%;
    top: 20%; }
  .about__img_2-1 {
    height: 70%;
    top: 15%;
    left: 20%; }
  .about__img_2-2 {
    height: 30%;
    bottom: 10px;
    right: 20px; }
  .about__img_2-3 {
    height: 50%;
    top: -30px;
    right: -30px; }
  .about__img_3-1 {
    height: 50%;
    top: -30px;
    left: -30px; }
  .about__img_3-2 {
    height: 40%;
    left: 10px;
    bottom: 10px; }
  .about__img_3-3 {
    height: 80%;
    top: 10%;
    right: 15%; }
  .about__img_4-1 {
    height: 50%;
    top: -30px;
    right: -30px; }
  .about__img_4-2 {
    height: 70%;
    top: 10%;
    left: 20%; }
  .about__img_4-3 {
    height: 40%;
    right: 15px;
    bottom: 15px; }
  .result__text, .result__title {
    font-size: 0.9375rem; }
  .result__text {
    line-height: 1.5rem; }
  .result__title {
    line-height: 1.375rem; }
  .result__left {
    margin-bottom: 30px; }
  .steps__line {
    display: none; } }

@media (min-width: 768px) and (max-width: 1199px) {
  .container {
    max-width: 750px; }
  .flex-container_md {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .flex-col_md {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  .flex-row_md {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; }
  .flex-wrap_md {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .jc-start_md {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .jc-center_md {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .jc-end_md {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .jc-between_md {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .jc-around_md {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .ai-start_md {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .ai-center_md {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .ai-end_md {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .column_md {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 15px; }
  .column-1_md {
    width: 8.33333%; }
  .column-2_md {
    width: 16.66667%; }
  .column-3_md {
    width: 25%; }
  .column-4_md {
    width: 33.33333%; }
  .column-5_md {
    width: 41.66667%; }
  .column-6_md {
    width: 50%; }
  .column-7_md {
    width: 58.33333%; }
  .column-8_md {
    width: 66.66667%; }
  .column-9_md {
    width: 75%; }
  .column-10_md {
    width: 83.33333%; }
  .column-11_md {
    width: 91.66667%; }
  .column-12_md {
    width: 100%; }
  .hide_md {
    display: none; }
  .header__logo {
    width: 160px;
    height: 50px; }
  .header__heading {
    font-size: 1.25rem;
    line-height: 1.75rem; }
  .header__video-block {
    height: 185px; }
  .header__content {
    height: 440px; }
  .header__slogan {
    font-size: 1rem; }
  .header__left {
    height: 300px; }
  .brands {
    height: 135px; }
    .brands__list {
      max-width: 768px; }
    .brands__item {
      width: 16.66667%; }
  .about {
    padding: 80px 0; }
    .about:before {
      top: 25%;
      right: 0; }
    .about__head {
      font-size: 1.8rem;
      margin: 0 0 80px; }
    .about__img-block {
      width: 240px;
      height: 150px; }
      .about__img-block_odd {
        margin-right: 35px; }
      .about__img-block_even {
        margin-left: 35px; }
  .result {
    padding-top: 55px; }
    .result:before {
      bottom: 0;
      right: 0; }
    .result__heading {
      font-size: 1.5rem; }
    .result__desc {
      font-size: 1rem; }
    .result__list {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
    .result__item {
      width: 50%; }
  .subscribe {
    height: 150px; }
    .subscribe__heading {
      font-size: 1.25rem; }
    .subscribe__btn {
      margin-left: 45px; }
  .footer {
    height: 320px;
    padding: 55px 0 68px; }
    .footer__logo {
      width: 548px; }
    .footer__nav {
      width: 172px; }
    .footer__partners {
      width: 290px; }
  .steps {
    padding: 57px 0;
    height: 1300px; }
    .steps__heading {
      font-size: 1.875rem;
      margin-bottom: 65px; }
    .steps__images-wrap {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
    .steps__wrap {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 50%;
      padding: 0 15px;
      margin-bottom: 80px; }
    .steps__test-title {
      font-size: 1.5rem; }
  .stat__list {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 500px; }
  .stat__item {
    width: 33.333333333333%;
    font-size: 1.875rem; } }
