@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700");
* {
  padding: 0;
  margin: 0; }

.list {
  list-style-type: none; }

.link {
  text-decoration: none; }

html, body {
  width: 100%;
  height: 100%; }

body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  body > * {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    min-width: 360px; }

.container {
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 15px; }

.flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }

.flex-wrap {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.jc-start {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.jc-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.jc-end {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.jc-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.jc-around {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.ai-start {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start; }

.ai-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.ai-end {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end; }

.column {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 15px; }

.column-1 {
  width: 8.33333%; }

.column-2 {
  width: 16.66667%; }

.column-3 {
  width: 25%; }

.column-4 {
  width: 33.33333%; }

.column-5 {
  width: 41.66667%; }

.column-6 {
  width: 50%; }

.column-7 {
  width: 58.33333%; }

.column-8 {
  width: 66.66667%; }

.column-9 {
  width: 75%; }

.column-10 {
  width: 83.33333%; }

.column-11 {
  width: 91.66667%; }

.column-12 {
  width: 100%; }

.hide {
  display: none; }

.dialog, .dialog__overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.dialog {
  position: fixed; }
  .dialog__overlay {
    position: absolute;
    z-index: 3;
    background-color: rgba(55, 58, 71, 0.9);
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    text-align: center; }
  .dialog__content {
    margin: 0 auto;
    top: 50%;
    width: 50%;
    max-height: 90%;
    background-color: #fff;
    position: relative;
    z-index: 4;
    opacity: 0; }
  .dialog_open {
    z-index: 2; }
    .dialog_open .dialog__overlay {
      opacity: 1; }
  .dialog_close {
    -webkit-transition: z-index 0ms ease 300ms;
    -o-transition: z-index 0ms ease 300ms;
    transition: z-index 0ms ease 300ms;
    z-index: -1; }
  .dialog.dialog_open .dialog__content, .dialog.dialog_close .dialog__content {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }
  .dialog.dialog_open .dialog__content {
    -webkit-animation-name: anim-open;
    animation-name: anim-open; }
  .dialog.dialog_close .dialog__content {
    -webkit-animation-name: anim-close;
    animation-name: anim-close; }

@-webkit-keyframes anim-open {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1); }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

@keyframes anim-open {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1); }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

@-webkit-keyframes anim-close {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: scale3d(0.9, 0.9, 1);
    transform: scale3d(0.9, 0.9, 1); } }

@keyframes anim-close {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: scale3d(0.9, 0.9, 1);
    transform: scale3d(0.9, 0.9, 1); } }

.wrapper {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  overflow: hidden; }

.footer {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#00c6fb), to(#1373db));
  background-image: -webkit-linear-gradient(bottom, #00c6fb 0%, #1373db 100%);
  background-image: -o-linear-gradient(bottom, #00c6fb 0%, #1373db 100%);
  background-image: linear-gradient(0deg, #00c6fb 0%, #1373db 100%);
  height: 250px;
  position: relative;
  overflow: hidden;
  padding: 50px 0 55px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .footer:before {
    content: "";
    position: absolute;
    left: -50%;
    bottom: -600%;
    display: block;
    width: 2000px;
    height: 2000px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    z-index: 0; }
  .footer__container {
    height: 100%;
    position: relative;
    z-index: 1; }
  .footer__logo {
    padding-right: 15px; }
    .footer__logo-wrap {
      padding-left: 5px; }
  .footer__copyright {
    font-size: 0.9375rem;
    line-height: 1.5rem;
    color: #d9edff;
    font-weight: 300; }
  .footer__nav {
    color: #fff;
    padding-top: 5px;
    padding-left: 15px; }
    .footer__nav-heading, .footer__nav-link {
      font-size: 1rem;
      line-height: 1.5rem; }
    .footer__nav-heading {
      font-weight: 500;
      text-transform: uppercase;
      margin-bottom: 15px; }
    .footer__nav-item {
      margin-bottom: 6px; }
    .footer__nav-link {
      color: #d9edff;
      font-weight: 300;
      -webkit-transition: color 0.3s ease;
      -o-transition: color 0.3s ease;
      transition: color 0.3s ease; }
      .footer__nav-link:hover, .footer__nav-link:active {
        color: #1373db; }
  .footer__partners-item {
    margin-left: 15px; }
    .footer__partners-item:first-child {
      margin-left: 0; }

@media (min-width: 1200px) {
  .container {
    max-width: 1170px; }
  .flex-container_xl {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .flex-col_xl {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  .flex-row_xl {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; }
  .flex-wrap_xl {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .jc-start_xl {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .jc-center_xl {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .jc-end_xl {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .jc-between_xl {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .jc-around_xl {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .ai-start_xl {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .ai-center_xl {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .ai-end_xl {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .column_xl {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 15px; }
  .column-1_xl {
    width: 8.33333%; }
  .column-2_xl {
    width: 16.66667%; }
  .column-3_xl {
    width: 25%; }
  .column-4_xl {
    width: 33.33333%; }
  .column-5_xl {
    width: 41.66667%; }
  .column-6_xl {
    width: 50%; }
  .column-7_xl {
    width: 58.33333%; }
  .column-8_xl {
    width: 66.66667%; }
  .column-9_xl {
    width: 75%; }
  .column-10_xl {
    width: 83.33333%; }
  .column-11_xl {
    width: 91.66667%; }
  .column-12_xl {
    width: 100%; }
  .hide_xl {
    display: none; } }

@media (max-width: 575px) {
  .container {
    max-width: 100%; }
  .flex-container_xs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .flex-col_xs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  .flex-row_xs {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; }
  .flex-wrap_xs {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .jc-start_xs {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .jc-center_xs {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .jc-end_xs {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .jc-between_xs {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .jc-around_xs {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .ai-start_sm {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .ai-center_sm {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .ai-end_sm {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .column_xs {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 15px; }
  .column-1_xs {
    width: 8.33333%; }
  .column-2_xs {
    width: 16.66667%; }
  .column-3_xs {
    width: 25%; }
  .column-4_xs {
    width: 33.33333%; }
  .column-5_xs {
    width: 41.66667%; }
  .column-6_xs {
    width: 50%; }
  .column-7_xs {
    width: 58.33333%; }
  .column-8_xs {
    width: 66.66667%; }
  .column-9_xs {
    width: 75%; }
  .column-10_xs {
    width: 83.33333%; }
  .column-11_xs {
    width: 91.66667%; }
  .column-12_xs {
    width: 100%; }
  .hide_xs {
    display: none; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    max-width: 960px; }
  .flex-container_lg {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .flex-col_lg {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  .flex-row_lg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; }
  .flex-wrap_lg {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .jc-start_lg {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .jc-center_lg {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .jc-end_lg {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .jc-between_lg {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .jc-around_lg {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .ai-start_lg {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .ai-center_lg {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .ai-end_lg {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .column_lg {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 15px; }
  .column-1_lg {
    width: 8.33333%; }
  .column-2_lg {
    width: 16.66667%; }
  .column-3_lg {
    width: 25%; }
  .column-4_lg {
    width: 33.33333%; }
  .column-5_lg {
    width: 41.66667%; }
  .column-6_lg {
    width: 50%; }
  .column-7_lg {
    width: 58.33333%; }
  .column-8_lg {
    width: 66.66667%; }
  .column-9_lg {
    width: 75%; }
  .column-10_lg {
    width: 83.33333%; }
  .column-11_lg {
    width: 91.66667%; }
  .column-12_lg {
    width: 100%; }
  .hide_lg {
    display: none; } }

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 720px; }
  .flex-container_md {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .flex-col_md {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  .flex-row_md {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; }
  .flex-wrap_md {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .jc-start_md {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .jc-center_md {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .jc-end_md {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .jc-between_md {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .jc-around_md {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .ai-start_md {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .ai-center_md {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .ai-end_md {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .column_md {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 15px; }
  .column-1_md {
    width: 8.33333%; }
  .column-2_md {
    width: 16.66667%; }
  .column-3_md {
    width: 25%; }
  .column-4_md {
    width: 33.33333%; }
  .column-5_md {
    width: 41.66667%; }
  .column-6_md {
    width: 50%; }
  .column-7_md {
    width: 58.33333%; }
  .column-8_md {
    width: 66.66667%; }
  .column-9_md {
    width: 75%; }
  .column-10_md {
    width: 83.33333%; }
  .column-11_md {
    width: 91.66667%; }
  .column-12_md {
    width: 100%; }
  .hide_md {
    display: none; } }

@media (min-width: 576px) and (max-width: 767px) {
  .container {
    max-width: 540px; }
  .flex-container_sm {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .flex-col_sm {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  .flex-row_sm {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; }
  .flex-wrap_sm {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .jc-start_sm {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .jc-center_sm {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .jc-end_sm {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .jc-between_sm {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .jc-around_sm {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .ai-start_sm {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .ai-center_sm {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .ai-end_sm {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .column_sm {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 15px; }
  .column-1_sm {
    width: 8.33333%; }
  .column-2_sm {
    width: 16.66667%; }
  .column-3_sm {
    width: 25%; }
  .column-4_sm {
    width: 33.33333%; }
  .column-5_sm {
    width: 41.66667%; }
  .column-6_sm {
    width: 50%; }
  .column-7_sm {
    width: 58.33333%; }
  .column-8_sm {
    width: 66.66667%; }
  .column-9_sm {
    width: 75%; }
  .column-10_sm {
    width: 83.33333%; }
  .column-11_sm {
    width: 91.66667%; }
  .column-12_sm {
    width: 100%; }
  .hide_sm {
    display: none; } }
