section.about
    .about__container.container
        .about__item.flex-container
            .about__img-block.about__img-block_odd
                img.about__img.about__img_1-1(src="img/about/1/1.png", alt="")
                img.about__img.about__img_1-2(src="img/about/1/2.png", alt="")
                img.about__img.about__img_1-3(src="img/about/1/3.png", alt="")
                img.about__img.about__img_1-4(src="img/about/1/4.png", alt="")
            .about__text-block
                h3.about__heading Система  внутренней аналитики
                p.about__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam soluta corporis dolores dolor fuga laborum earum sint accusamus molestias vitae saepe, iusto. Quod numquam minus eum, praesentium maxime cupiditate quisquam magnam eos. Sit ea rem ipsa consectetur aut, inventore, voluptatibus deserunt placeat et ut dolorum tempora asperiores aliquid vero molestiae!
        .about__item.flex-container
            .about__text-block
                h3.about__heading.about__heading_right Система PUSH-уведомлений
                p.about__text.about__text_right Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam soluta corporis dolores dolor fuga laborum earum sint accusamus molestias vitae saepe, iusto. Quod numquam minus eum, praesentium maxime cupiditate quisquam magnam eos. Sit ea rem ipsa consectetur aut, inventore, voluptatibus deserunt placeat et ut dolorum tempora asperiores aliquid vero molestiae!
            .about__img-block.about__img-block_even
                img.about__img.about__img_2-1(src="img/about/2/1.png", alt="")
                img.about__img.about__img_2-2(src="img/about/2/2.png", alt="")
                img.about__img.about__img_2-3(src="img/about/2/3.png", alt="")
        .about__item.flex-container
            .about__img-block.about__img-block_odd
                img.about__img.about__img_3-1(src="img/about/3/1.png", alt="")
                img.about__img.about__img_3-2(src="img/about/3/2.png", alt="")
                img.about__img.about__img_3-3(src="img/about/3/3.png", alt="")
            .about__text-block
                h3.about__heading Неограниченное количество форм оплат
                p.about__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam soluta corporis dolores dolor fuga laborum earum sint accusamus molestias vitae saepe, iusto. Quod numquam minus eum, praesentium maxime cupiditate quisquam magnam eos. Sit ea rem ipsa consectetur aut, inventore, voluptatibus deserunt placeat et ut dolorum tempora asperiores aliquid vero molestiae!
        .about__item.flex-container
            .about__text-block
                h3.about__heading.about__heading_right Реклама своего продукта внутри сервиса
                p.about__text.about__text_right Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam soluta corporis dolores dolor fuga laborum earum sint accusamus molestias vitae saepe, iusto. Quod numquam minus eum, praesentium maxime cupiditate quisquam magnam eos. Sit ea rem ipsa consectetur aut, inventore, voluptatibus deserunt placeat et ut dolorum tempora asperiores aliquid vero molestiae!
            .about__img-block.about__img-block_even
                img.about__img.about__img_4-1(src="img/about/4/1.png", alt="")
                img.about__img.about__img_4-2(src="img/about/4/2.png", alt="")
                img.about__img.about__img_4-3(src="img/about/4/3.png", alt="")