section.about
    .about__container.container
        h2.about__head Сервис моментального приема платежей и каталог партнерских программ Clickpay24 это:
        .about__item.flex-container.flex-col_xs
            .about__img-block.about__img-block_odd
                img.about__img.about__img_1-1(src="img/about/1/1.png", alt="")
                img.about__img.about__img_1-2(src="img/about/1/2.png", alt="")
                img.about__img.about__img_1-3(src="img/about/1/3.png", alt="")
                img.about__img.about__img_1-4(src="img/about/1/4.png", alt="")
            .about__text-block
                h3.about__heading Система  внутренней аналитики
                p.about__text Отслеживайте в режиме реального времени эффективность своей рекламной кампании. Мониторинг количества переходов по вашим ссылкам, переходов на страницы оплаты и 100% точные данные по созданным заказам
        .about__item.flex-container.flex-col_xs
            .about__text-block
                h3.about__heading.about__heading_right Система PUSH-уведомлений
                p.about__text.about__text_right Бесплатная работа с лояльностью посетителей вашего сайта. Установите HTML-код на страницы своего сайта и как только клиент появится в сети, он тут же увидит отправленное короткое сообщение в углу экрана монитора либо поверх вкладок на экране смартфона.
            .about__img-block.about__img-block_even
                img.about__img.about__img_2-1(src="img/about/2/1.png", alt="")
                img.about__img.about__img_2-2(src="img/about/2/2.png", alt="")
                img.about__img.about__img_2-3(src="img/about/2/3.png", alt="")
        .about__item.flex-container.flex-col_xs
            .about__img-block.about__img-block_odd
                img.about__img.about__img_3-1(src="img/about/3/1.png", alt="")
                img.about__img.about__img_3-2(src="img/about/3/2.png", alt="")
                img.about__img.about__img_3-3(src="img/about/3/3.png", alt="")
            .about__text-block
                h3.about__heading Неограниченное количество форм оплат
                p.about__text Выделяйтесь в глазах своих клиентов, создавайте уникальные формы оплаты, указывайте стоимость и подключайте в неограниченном количестве к своему сайту.
        .about__item.flex-container.flex-col_xs
            .about__text-block
                h3.about__heading.about__heading_right Реклама своего продукта внутри сервиса
                p.about__text.about__text_right Наш модуль внутренней тизерной сети, партнерский чат, система уведомлений и личных сообщений поможет рекламировать свою информационную продукцию внутри сервиса.
            .about__img-block.about__img-block_even
                img.about__img.about__img_4-1(src="img/about/4/1.png", alt="")
                img.about__img.about__img_4-2(src="img/about/4/2.png", alt="")
                img.about__img.about__img_4-3(src="img/about/4/3.png", alt="")