section.subscribe
    .subscribe__container.container.flex-container.ai-center.jc-center.flex-col_xs
        h2.subscribe__heading НАЧАТЬ ПРИНИМАТЬ ПЛАТЕЖИ
        a.subscribe__btn.btn.btn_large.btn_color.flex-container.jc-center.ai-center.link(href="javascript:;") Приступить