section.subscribe
    .subscribe__container.container.flex-container.ai-center.jc-center
        h2.heading.heading_dark НАЧАТЬ ПРИНИМАТЬ ПЛАТЕЖИ
        button.subscribe__btn.btn.btn_large.btn_color Приступить