.header
    background-image: radial-gradient( 50% 50%, circle closest-side, $blue-light-color 0%, $blue-color 100%)
    position: relative
    overflow: hidden

    &:before
        content: ""
        position: absolute
        right: -5%
        top: 5%
        z-index: 0
        display: block
        +size(1300px)
        background-color: rgba($white-color, .1)
        border-radius: 50%

    &__container
        height: 100%
        position: relative
    
    &__top, &__content
        // z-index: 1

    &__top
        height: 100px
        box-sizing: border-box
        padding: 20px 0
        flex-shrink: 0
        position: relative

    &__content
        flex-grow: 1

    &__logo
        padding-left: 6px

        & > img
            max-width: 100%

    &__btn
        display: flex
        align-items: center
        justify-content: center

    &__mobile
        border: 0
        outline: none
        background-color: transparent
        +size(30px)
        cursor: pointer

        &.active .header__icon
    
            &:after
                width: 28px

            &:before
                width: 20px

    &__icon
        position: relative
        display: block
        +size(28px, 2px)
        margin: 0 auto
        background-color: $white-color

        &:after, &:before
            content: ""
            background-color: $white-color
            height: 2px
            display: block
            position: absolute
            right: 0
            +transition()

        &:after
            width: 20px
            bottom: -7px
            

        &:before
            width: 28px
            top: -7px

    &__video-block
        background-color: $white-color
        border-radius: 20px
        overflow: hidden
        position: relative
        z-index: 1

    &__video
        +size(100%)

    &__left
        color: $text-light-color
        position: relative
        z-index: 1

    &__heading
        font-weight: 700
        text-transform: uppercase
        margin-bottom: 13px
    
    &__slogan, &__desc
        display: block
        line-height: rem(24px)

    &__slogan
        font-weight: 300
        margin-bottom: 9px

    &__desc
        font-style: italic
        font-size: rem(15px)
        

    &__images
        position: absolute
        animation-iteration-count: infinite
        animation-duration: 5s
        animation-fill-mode: forwards

        &_1
            top: 150px
            left: 190px

            &:hover
                animation-name: images-1

        &_2
            bottom: 35px
            left: 350px

            &:hover
                animation-name: images-2

        &_3
            top: 120px
            left: 610px

        &_4
            bottom: 85px
            left: 835px

        &_5
            top: 110px
            right: 585px

        &_6
            bottom: -50px
            right: 390px


// @keyframes images-1
//     0%
//         top: 150px
//         left: 190px
//     25%
//         top: 225px
//         left: 95px
//     50%
//         top: 300px
//         left: 190px
//     75%
//         top: 225px
//         left: 285px
//     100%
//         top: 150px
//         left: 190px

// @keyframes images-2
//     0%
//         left: 350px
//     50%
//         left: 340px
//     100%
//         left: 350px