.header
    background-image: linear-gradient(left, $blue-light-color 0%, $blue-color 100%)
    position: relative
    overflow: hidden

    &:before
        content: ""
        position: absolute
        right: -5%
        top: 5%
        z-index: 0
        display: block
        +size(1300px)
        background-color: rgba($white-color, .1)
        border-radius: 50%

    &__container
        height: 100%
        position: relative
    
    &__top, &__content
        // z-index: 1

    &__top
        height: 100px
        box-sizing: border-box
        padding: 20px 0
        flex-shrink: 0
        position: relative

    &__content
        flex-grow: 1

    &__logo
        padding-left: 6px

        & > img
            max-width: 100%

    &__btn
        display: flex
        align-items: center
        justify-content: center

    &__login
        @extend .header__nav-link
        cursor: pointer
        position: relative
        text-transform: uppercase
        font-weight: 700

    &__login-list

    &__login-item
        display: block
        margin-bottom: 10px
        
        &:last-child
            margin-bottom: 0

    &__login-link
        color: $text-light-color

    &__mobile
        border: 0
        outline: none
        background-color: transparent
        +size(30px)
        cursor: pointer

        &.active .header__icon
    
            &:after
                width: 28px

            &:before
                width: 20px

    &__icon
        position: relative
        display: block
        +size(28px, 2px)
        margin: 0 auto
        background-color: $white-color

        &:after, &:before
            content: ""
            background-color: $white-color
            height: 2px
            display: block
            position: absolute
            right: 0
            +transition()

        &:after
            width: 20px
            bottom: -7px
            

        &:before
            width: 28px
            top: -7px

    &__video-block
        background-color: $white-color
        border-radius: 20px
        overflow: hidden
        position: relative
        z-index: 1

    &__video
        +size(100%)

    &__left
        color: $text-light-color
        position: relative
        z-index: 1

    &__heading
        font-weight: 700
        text-transform: uppercase
        margin-bottom: 13px
    
    &__slogan, &__desc
        display: block
        line-height: rem(24px)

    &__slogan
        font-weight: 300
        margin-bottom: 9px

    &__desc
        font-style: italic
        font-size: rem(15px)
        

    &__images
        position: absolute
        animation-iteration-count: infinite
        animation-duration: 2s
        animation-fill-mode: forwards

        &_1
            top: 22%
            left: 10%
            animation-name: images-1

        &_2
            bottom: 3.5%
            left: 15%
            animation-name: images-2

        &_3
            top: 15%
            left: 32%
            animation-name: images-3

        &_4
            bottom: 14%
            left: 50%
            animation-name: images-4

        &_5
            top: 13%
            right: 40%
            animation-name: images-5

        &_6
            bottom: -6%
            right: 25%
            animation-name: images-6


@keyframes images-1
    0%
        left: 11%
    50%
        left: 10%
    100%
        left: 11%

@keyframes images-2
    0%
        left: 16%
    50%
        left: 17%
    100%
        left: 16%

@keyframes images-3
    0%
        top: 15%
        left: 32%
    50%
        top: 16%
        left: 33%
    100%
        top: 15%
        left: 32%

@keyframes images-4
    0%
        bottom: 14%
        left: 50%
    50%
        bottom: 13%
        left: 49%
    100%
        bottom: 14%
        left: 50%

@keyframes images-5
    0%
        top: 13%
        right: 40%
    50%
        top: 12%
        right: 39%
    100%
        top: 13%
        right: 40%

@keyframes images-6
    0%
        bottom: -6%

    50%
        bottom: 0%

    100%
        bottom: -6%